<script src="signin.component.ts"></script>
<div class="container">
    <form class="form-signin" (submit)="signin()" action="index.html">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input [(ngModel)]="signinForm.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input [(ngModel)]="signinForm.password" type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="info">
            <a routerLink="/signup">Already have an account? Login here.</a>
        </p>
    </form>

</div>
