<div class="container">
    <form #form="ngForm" (submit)="signUp()" class="form-signin" action="index.html">
        <h2 class="form-signin-heading">Please sign up</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email"
               name="email"
               id="inputEmail"
               class="form-control"
               placeholder="Email address"
               required autofocus
               email="true"
               [(ngModel)]="signUpForm.email"
               #email="ngModel"
               minlength="4"
        >
        <!-- 当 email 是有效的或是干净的，div 就是隐藏状态
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
            email is required
        </div>-->
        <!-- 当 email 是无效的并且是被如输入过的 -->
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
            <div *ngIf="email.errors.required">
                email is required.
            </div>
            <div *ngIf="email.errors.email">
                invalid email.
            </div>
            <div *ngIf="email.errors.minlength">
                email must be at least 4 characters long.
            </div>
        </div>
        <div *ngIf="email_err_msg" class="alert alert-danger">
            {{email_err_msg}}
        </div>

        <!-- angular 表单双向绑定，会为绑定的元素提供一些特殊的类名
        <p>{{email.className}}</p>
        -->
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"
               name="password"
               id="inputPassword"
               class="form-control"
               placeholder="Password"
               required
               [(ngModel)]="signUpForm.password"
        >
        <button class="btn btn-lg btn-primary btn-block"
                type="submit"
                [disabled]="!form.form.valid"
        >Sign up</button>

        <p class="info">
            <a routerLink="/signin">Don't have an account? Create one here.</a>
        </p>
    </form>

</div>
